.product-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1100px;

/* margin: 70px auto 70px 70px; */

  gap: 5px;
}

.product-page__category {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  display: flex;

  color: rgb(68, 68, 68);

  flex-wrap: wrap;
}

.product-page__category div:not(:last-child)::after {
  margin: 6px;

  content: '-';
} 
.product-page__category div {
  width: max-content;
}

.product-page__name {
  font-size: 32px;
  font-weight: 700;

  margin-bottom: 40px;
}

.product-page__product-information {
  position: relative;

  display: flex;

  width: 100%;
  max-width: 1100px;

  justify-content: start;
  gap: 30px;
}


@media screen and (max-width: 768px) {
  .product-page__name {
    align-self: center;
  }
  .product-page__product-information {
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 755px) {
  .product-page__name {
    align-self: start;
  }
}
