* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;

  display: flex;
  flex-direction: column;

  margin: 70px;

  color: #202020;
  background: rgb(251, 251, 251);

  align-items: center;
}

@media screen and (max-width: 755px) {
  body {
    margin: 25px;
  }
}
